In [30]:
import pandas as pd
import numpy as np
from sklearn.metrics import accuracy_score, confusion_matrix, f1_score, recall_score
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
import matplotlib.pyplot as plt
import seaborn as sns

In [33]:
data=pd.read_csv('weather_data_full.csv')
print(data)

     temperature  humidity weather_description
0           31.0      73.0                Haze
1           30.0      74.0                Haze
2           30.0      72.0                Haze
3           30.0      73.0                Haze
4           30.0      74.0                Haze
..           ...       ...                 ...
960         26.0      88.0          Light rain
961         26.0      94.0       Broken clouds
962         26.0      94.0       Broken clouds
963         26.0      94.0       Broken clouds
964         26.0      94.0       Broken clouds

[965 rows x 3 columns]

In [34]:
data.columns=['temperature','humidity','weather_description']

In [35]:
data=data.drop_duplicates()
data

     temperature  humidity weather_description
0           31.0      73.0                Haze
1           30.0      74.0                Haze
2           30.0      72.0                Haze
3           30.0      73.0                Haze
8           30.0      75.0                Haze
..           ...       ...                 ...
918         30.0      83.0          Light rain
941         29.0      79.0     Overcast clouds
953         25.0      94.0     Overcast clouds
954         25.0      94.0          Light rain
955         25.0      88.0          Light rain

[257 rows x 3 columns]

In [36]:
X=data[['temperature','humidity']]
X

     temperature  humidity
0           31.0      73.0
1           30.0      74.0
2           30.0      72.0
3           30.0      73.0
8           30.0      75.0
..           ...       ...
918         30.0      83.0
941         29.0      79.0
953         25.0      94.0
954         25.0      94.0
955         25.0      88.0

[257 rows x 2 columns]

In [37]:
Y=data['weather_description']
Y

0                 Haze
1                 Haze
2                 Haze
3                 Haze
8                 Haze
            ...
918         Light rain
941    Overcast clouds
953    Overcast clouds
954         Light rain
955         Light rain
Name: weather_description, Length: 257, dtype: object

In [38]:
X_train,X_test,Y_train,Y_test= train_test_split(X,Y, random_state=42, test_size=0.2)

In [39]:
model=SVC(C=1, kernel='linear')
model.fit(X_train,Y_train)
preds=model.predict(X_test)
accuracy=accuracy_score(Y_test,preds)
print("Accuracy_score of SVM is :", accuracy)

Accuracy_score of SVM is : 0.25

In [40]:
model=RandomForestClassifier(
    n_estimators=10,
)
model.fit(X_train,Y_train)
preds=model.predict(X_test)
accuracy=accuracy_score(Y_test,preds)
print("Accuracy_score of RandomForestClassifier is :", accuracy)

Accuracy_score of RandomForestClassifier is : 0.1346153846153846

In [ ]:
humidity=data['humidity']
temperature=data['temperature']